.logo,
.logo-footer {
    font-family: 'Raleway', sans-serif;
    color: #000;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
}

.logo-footer {
    color: var(--white-text);
}

span {
    color: var(--blue-text);
}

body {
   font-family: 'Roboto', sans-serif;
}

.nav-list a {
    font-weight: 500;
    color: var(--common-black-text);
}

.nav-list :hover,
.nav-list :focus {
    color: var(--blue-text);
}

.contacts-text {
    color: var(--grey-text);
}

.header-contats :hover,
.header-contats :focus {
    color: var(--blue-text);

address {
    font-style: normal;
}